.wrapper {
    margin-top: 20px;
}

.table {
    margin-top: 20px;
    font-size: 1.4rem !important;
}

.page_navigation {
    margin-top: 20px;
    font-size: 1.4rem !important;
}

.actions-btn {
    font-size: 1.2rem;
}